:root {
  --primary: #065143;
  --secondary: #129490;
  --accent: #00072d;
  --card-bg: #e0a890;
}

.navbar--primary,
.footer--primary {
  background-color: var(--primary);
}

.hero-section {
  margin-bottom: 0;
  height: 90vh;
}

.title-container {
  margin: auto;
}

body {
  background-color: #fafafa;
}

.card {
  width: 350px;
}

.inner-content {
  height: 90vh;
}

span#navSession {
  display: flex;
}

/* Style all input fields */

/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin: 10px auto;
  text-align: center;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}
